html, body {
	width: 100%;
	background: url("../images/textura_landing.png") repeat scroll 0 0 #FFFFFF;
	font-family: tahoma, arial, sans-serif;
	font-size: small;
	margin: 0 auto;
	color: #000000;
	overflow-x:hidden;
}

.busi-touch-splash {
	background: #DFDFDF url("../images/textura_facturaqua.png");
}


/*******************************************
*         HEADER DECLARATIVE VIEW          *
********************************************/
.host-touchNavHeader {
	background: #EEEEEE;
	width: 100%;
	min-width:320px;
	height: 50px;
	top: 0;
	position: absolute;
	font-family: tahoma, geneva, arial, sans-serif;
	font-size: 12px;
	color: Gray;
}

.host-headerComboItemData {
	background:#eee;
}

.host-touchHeaderScreenContainer {
}

/*******************************************
*                DASHBOARD                 *
********************************************/

.host-dashboard-statusPanel {
	width: 100%;
	height: 50px;
	top: 50px;
}

.host-touch-screenBody-dashboard {
	margin-bottom: 0px !important;
}

.host-dashboard-infoLabel {
	background: #FFF;
	
}

/******************************************************
*                 OPTIONS CONTAINER                   *
*******************************************************/

.aegwt-touch-optionsContainer .fact-touch-infoLabel {
	font-size: 14px;
	font-weight:bold;
	padding-top:5px;
	padding-bottom:5px;
	color: Gray;
	border-bottom: 1px solid #ddd;
}

/******************************************************
*                 SWTICH BUTTON                       *
*******************************************************/
.aegwt-buttonSwitch {
}

.aegwt-buttonSwitchUp {
	font-size: 12px;
	visibility: visible;
	cursor: pointer;
	color: #000;
}

.aegwt-buttonSwitchUp .aegwt-labelContainer {
	text-align:center;
}

.aegwt-buttonSwitchDown {
	background-color: #eee;
	color: #000;
	border-color:#444;
}

/*******************************************
*            BUTTON IMAGE                  *
********************************************/

.aegwt-buttonImage {
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border:solid 1px #777;
	font-weight:bold;
	background: Gray;
}

.aegwt-buttonImage-orange {
	background: #F68324;
	border:solid 1px #cb6009;
}

.aegwt-buttonImage-orange.aegwt-buttonImage-disabled {
	background: #FFDAB9;
}

/*******************************************
*              ACTION COMBO                *
********************************************/

.aegwt-actionComboBox .aegwt-buttonImage {
	margin-right: 0px;
}

/*******************************************
*            CUSTOM COMBO                  *
********************************************/

.aegwt-customComboBox {
	background:#eee;
	border-radius: 0px 3px 3px 0px;
	-webkit-border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0px 3px 3px 0px;
}

.aegwt-customComboBox .aegwt-imageWidgetLabel {
	padding-right:0px;
	border-right:0px;
}

.aegwt-compositeComboBox {
	background:#eee;
	border-radius: 0px 3px 3px 0px;
	-webkit-border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0px 3px 3px 0px;
}


/*******************************************
*            TEXT BOX ITEM DATA            *
********************************************/
.aegwt-textBoxItemData {
	padding-top:3px;
}

/*******************************************
*            ITEM CONTAINER PANEL          *
********************************************/
.host-businessItemContainerPanel {
	padding-right:0px;
}

.GOE-WOTBH {
	width:100%;
}


/*******************************************
*            SHOPPING ITEM ROW	           *
********************************************/

.host-businessTouchShoppingItemRow {
	background: #fff;
	border-bottom: 1px solid #999; 
	padding-left:10px;
	width:100%;
	height:72px;
}

.host-businessTouchShoppingItemRow .aegwt-labelContainer-providerLabel {
	color: Gray;	
}

.host-businessTouchShoppingItemRow .aegwt-labelContainer-priceLabel {
	color:YellowGreen;
	font-weight:bold;
}

.host-businessTouchShoppingItemRow-inBasket {
	border-left: 10px solid #9ACD36;
	padding-left:0px;
}

/****************************************************
*			ORDER VALIDATION PROVIDER PANEL		 	*
****************************************************/
.host-businessTouchOrderValidationWidgetProvider {
	background: #fff;
	border-bottom: 1px solid #999; 
	padding-left:10px;
	width:100%;
	height:72px;
}

.host-businessTouchOrderValidationWidgetProvider .aegwt-labelContainer-providerLabel {
	font-weight:bold;
	padding-top:4px;
}

.host-businessTouchOrderValidationWidgetProvider .aegwt-labelContainer-amountLabel {
	color: Gray;
	font-size: 16px;
	text-align:right;
}

.host-businessTouchOrderValidationWidgetProvider .aegwt-textBoxItemData-issueLabel .aegwt-itemData-description  {
	color: Gray;
}

.host-businessTouchOrderValidationWidgetProvider-hasIssue {
	border-left: 10px solid Orange;
	padding-left:0px;
}

.host-businessTouchOrderValidationWidgetProvider .aegwt-textBoxItemData-issueLabel .aegwt-customLabel-hasIssue  {
	color:Orange;
	font-weight: bold;
}

/**************************************************
**				SOLVE ORDER ISSUE				 **
**************************************************/
.host-touchOrderValidationIssueWidget {
	padding: 15px 20px 5px 20px;
	background:White;
}

.host-touchOrderValidationIssueWidget .aegwt-labelContainer-infoLabel {
	padding-bottom:25px;
}

.host-touchOrderValidationIssueWidget .aegwt-labelContainer-infoLabel .aegwt-textDisplay {
	white-space: normal;
	text-align: center;
	font-size:14px;
}

.host-touchOrderValidationIssueWidget-optionsContainer .aegwt-imageAnchorLabel-solveOption {
	background:Gainsboro;
	border:1px solid Gray;
	margin-bottom:15px;
	padding:3px 5px 3px 5px;
	cursor:pointer;
}

.host-touchOrderValidationIssueWidget-optionsContainer .aegwt-imageAnchorLabel-solveOption .aegwt-textDisplay {
	white-space: normal;
	text-align: center;
	font-weight:bold;
	
}

/******************************************************
*                 DATE PICKER FORM	                  *
*******************************************************/

.host-touchDatePickerForm .aegwt-buttonLabel {
	border:0.5px solid #CCC;
	font-size:16px;
	padding:25px 10px 25px 10px;
	cursor:pointer;
}

.host-touchDatePickerForm .aegwt-buttonLabel-disabled {
	color:#888;
}